.formulario-cliente {
  padding: 24px;
}
mat-icon[matPrefix] {
  margin-right: 10px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 24px;
}


.campo {
  width: 100%;
}

.correo-completo {
  grid-column: span 2;
}

.full-width {
  width: 100%;
}

.acciones-dialog {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn-guardar {
  background-color: black;
  color: white;
}

.btn-guardar:hover {
  background-color: #1565c0;
}
