.btn-editar mat-icon {
  color: #ffc107; /* amarillo */
  font-size: 24px;
}
.btn-eliminar mat-icon {
  color: #f44336; /* rojo */
  font-size: 24px;
}
.btn-crear {
  background-color: #1976d2; /* azul más definido */
  color: white;
}
button{
    background-color: white;
    border: none;
}