<div class="container">
    <h1>Clientes</h1>
    <div class="cliente-toolbar" style="display: flex; justify-content: space-between; align-items: center;">
        <mat-form-field appearance="outline" class="busqueda-form" style="flex: 1; margin-right: 16px;">
            <mat-label>🔍 Buscar cliente</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nombre, pedido, teléfono...">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="crearCliente()">➕ Crear Cliente</button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- ID -->
        <ng-container matColumnDef="id_cliente">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id_cliente }}</td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- RUC -->
        <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef>RUC</th>
            <td mat-cell *matCellDef="let element">{{ element.ruc }}</td>
        </ng-container>

        <!-- Dirección -->
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
        </ng-container>

        <!-- Teléfono -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef>Teléfono</th>
            <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
        </ng-container>

        <!-- Correo -->
        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef>Correo</th>
            <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="editarCliente(element.id_cliente)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarCliente(element.id_cliente)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="estilizado-paginator"></mat-paginator>
</div>