<!-- dashboard.component.html
<div class="row g-4 mb-4">
    <div class="col-md-4" *ngFor="let card of resumen">
        <div class="card kpi-card text-center p-3 shadow-sm">
            <span class="material-icons fs-1 text-primary">{{ card.icon }}</span>
            <h4 class="mt-2">{{ card.titulo }}</h4>
            <h2>{{ card.valor }}</h2>
        </div>
    </div>
</div>
<div class="card p-4 shadow-sm mb-4">
    <h5>Ventas Mensuales</h5>
    <img src="https://via.placeholder.com/600x200?text=Gráfico+de+Ventas" alt="Grafico ventas" class="img-fluid">
    <div style="display: block;">
      <canvas #ventasChart></canvas>

    </div>

</div>
<div class="card p-3 shadow-sm">
    <h5>Notificaciones</h5>
    <ul class="list-unstyled mt-3">
        <li *ngFor="let nota of notificaciones" class="mb-2">
            <span class="material-icons text-warning me-2">warning</span> {{ nota }}
        </li>
    </ul>
</div> -->